<div class="entire-site">
  <% content_for(:navbar_class, "navbar-home") %>

<!-- <div class="home-global-container" style="background-image: linear-gradient(-225deg, rgba(250,255,0,0.4) 0%, rgba(40,50,0,0.4) 50%), url(<%= image_path "picture.png" %>)""> -->
  <div class="home-global-container" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path "picture.png" %>)"">

<!--   <div class="home-global-container" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path "top.jpg" %>)""> -->
  <%= partial "shared/navbar" %>

    <div class="banner">

      <div class="banner-content">
        <h1 class="ml15">
          <span class="word"><%= image_tag "togezer.png" %></span>
        </h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <h4>Réunis sur une plateforme BtoB, retrouvez un réseau mondial de réceptifs
          <ul class="word-values">
            <a href="#services">INNOVANTS</a>, <a href="#manifeste"> LIBRES</a> et <a href="#team">PASSIONNES</a>
          </ul>
        </h4>
        <a><input type="button" class="btn btn-access" name="access" value="Accéder à la plateforme" onclick="window.open('http://all.togezer.travel/login?redirect=%2F');"onclick></a>

        <div class="arrow">
          <a href="#services"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
</div>

  <%= partial "pages/services" %>

  <div id="manifeste">
    <%= partial "pages/manifeste" %>
  </div>

  <div id="team">
    <%= partial "pages/team" %>
  </div>

<div id="contact">
  <%= partial "pages/contact"  %>
</div>

<%= partial "shared/footer" %>
</div>

<script>
  anime.timeline({loop: false})
  .add({
    targets: '.ml15 .word',
    scale: [14,1],
    opacity: [0,1],
    easing: "easeOutCirc",
    duration: 1000,
    // delay: function(el, i) {
    //   return 800 * i;
    // }
  }).add({
    targets: '.ml15',
    opacity: 0,
    duration: 800000,
    easing: "easeOutExpo",
    delay: 800000
  });
</script>
