---
title: TogeZer - Middleman
---

<%= partial "layouts/home" %>

<div id="services">
  <%= partial "pages/services" %>
</div>

<div id="manifeste">
  <%= partial "pages/manifeste" %>
</div>

<div id="team">
  <%= partial "pages/team" %>
</div>

<div id="contact">
  <%= partial "pages/contact"  %>
</div>

<div>
<%= partial "shared/footer" %>
</div>



